# Dependencies
vendor
node_modules
.php-cs-fixer.cache

# IDE
.vscode
.idea
.fleet
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.nova
.zed

# OS
.DS_Store
Thumbs.db
*.key
*.pem

# Logs
logs
*.log

# Backups
*.backup
*.bak

# Testing
coverage
.phpunit.result.cache

# Build artifacts
build
dist

# Wrightyard environment files
.wrightyard

# Sleuth
/src/config/paths.php
